body {
    display: flex;
    align-items: center;
    justify-content: center;
}

@import url("roboto.ttf");

#maintext {
    text-align: center;
    font-family: 'Roboto';
    font-size: larger;
    font-weight: 500;
}

.icon96 {
    height: 48px;
}

.spaced {
    display: flex;
    justify-content: space-between;
}

.margin16 {
    margin: 16px;
}

.margin4 {
    margin: 4px;
}

.bold {
    font-weight: 600;
    font-size: x-large;
}

.separator {
    height: 2px;
    background-color: lightgray;
}